@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
}

.services {
    background-color: lightgrey;
    padding: 5vw;
    display:grid;
    grid-template-columns : 1fr;
    grid-template-rows: 600px;
    gap:30px;

}

.service {
    background-color: aliceblue;
    /* border:1px solid; */
    display:flex;
    flex-direction : column;
    justify-content:space-between;
    text-align: center;
    padding:50px;
    border-radius: 3px;
    box-shadow: 3px 3px 8px 3px rgb(189, 187, 187);
    height: 500px;
}

img {
    width: 100px;
    height: 100px;
    align-self:center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;

}

p{
    height: 152px;
    text-overflow: " ...";
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}

.line {
    width: 100px;
    height: 2px;
    background-color: lightgray;
    align-self:center;
}

button {
    text-transform: uppercase;
    font-size:18px;
    /* font-weight: bold; */
    align-self:center;
    padding:10px 20px;
    border:0;
    background-color: transparent;
}

button:hover {
    
    border-radius: 20px;
    background-color: rgb(104, 166, 232);
    color: white;
    box-shadow: 2px 2px 5px lightblue;
}

@media screen and (min-width: 681px) and (max-width:1279px) {
    .services { grid-template-columns : 1fr 1fr;
        grid-template-rows: 600px 600px 600px 600px; }
  }

@media screen and (min-width: 1280px) {
    .services { grid-template-columns : 1fr 1fr 1fr 1fr;
        grid-template-rows: 600px 600px; }
  }
